<h1><%= @category.name %></h1>
<ul class="recipes">
  <% @category.recipes.each do |recipe| %>
    <li><%= link_to recipe.name, recipe_path(recipe) %></li>
  <% end %>
</ul>
<%= link_to "New Recipe", new_category_recipe_path(@category) %>
